body {
    background: rebeccapurple;
    padding: 20vw;
    width: 600px;
    margin: auto;
}

html {
    color: white;
    background: black;
}

h1 {
    text-align: center;
    font: small-caps bold 63px/1 sans-serif;
    
  background: -webkit-linear-gradient(#eee, #66097b);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

/* From https://css.glass */
.glass {
   
       display: flex;
    justify-content: center;
    position: absolute;
    top: 20vh;
    /* From https://css.glass */
    width: 55%;
    max-width: 600px;
    height: 10vh;
    transform: rotate(.99turn);

    background: rgba(122, 3, 152, 0.48);
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(2.1px);
    -webkit-backdrop-filter: blur(1px);
    border: 1px solid rgb(98, 4, 119);
}